button.ptplbtnnew {
  cursor:pointer;
  font-size: 16px;
  letter-spacing: inherit;
  text-transform: inherit;
  display: inline-block;
  text-align: center;
  font-weight: inherit;
  padding: 0.7em 2em;
  border: 3px solid #ed2c24;
  border-radius: 2px;
  position: relative;
  /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);*/
  color: #ed2c24;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  width: 100%;
}

button.ptplbtnnew:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #ed2c24;
  z-index: -1;
}

button.ptplbtnnew:hover, button.ptplbtnnew:focus {
  color: white;
}

button.ptplbtnnew:hover:before, button.ptplbtnnew:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button.ptplbtnnew:active {
  transform: scale(0.9);
}


.modal89 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background: rgba(51, 51, 51, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  z-index:99999;
}
.modal89-container {
  display: flex;
  max-width: 720px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition-duration: 0.3s;
  background: #fff;
  transform: translateY(100px) scale(0.4);
}
.modal89-title {
  font-size: 26px;
  margin: 0;
  font-weight: 400;
  color: #55311c;
}
.modal89-desc {
  margin: 6px 0 30px 0;
}
.modal89-left {
  padding: 60px 30px 20px;
  background: #fff;
  flex: 1.5;
  transition-duration: 0.5s;
  transform: translateY(80px);
  opacity: 0;
}
.modal89-button {
  color: #7d695e;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 10px 40px;
  border-radius: 30px;
  background: white;
  /*box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);*/
  transition: 0.3s;
  line-height: 22px;
  margin-bottom: 10px;
}
.modal89-button:hover {
  border-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.8);
}
.modal89-right {
  flex: 2;
  font-size: 0;
  transition: 0.3s;
  overflow: hidden;
}
.modal89-right img {
  width: 100%;
  height: 100%;
  transform: scale(2);
  -o-object-fit: cover;
     object-fit: cover;
  transition-duration: 1.2s;
}
.modal89.is-open {
  height: 100%;
  background: rgba(51, 51, 51, 0.85);
}
.modal89.is-open .modal89-button {
  opacity: 0;
}
.modal89.is-open .modal89-container {
  opacity: 1;
  transition-duration: 0.6s;
  pointer-events: auto;
  transform: translateY(0) scale(1);
}
.modal89.is-open .modal89-right img {
  transform: scale(1);
}
.modal89.is-open .modal89-left {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s;
}
.modal89-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal89-buttons a {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
}


.modal89 .input-button {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  font-family: inherit;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
}
.modal89 .input-button:hover {
  /*background: #55311c;*/
}

.modal89 .input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}

.modal89 .input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.modal89 .input-block input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
  font-family: inherit;
  box-shadow:none;
}
.modal89 .input-block input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.modal89 .input-block input:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.modal89 .input-block input::placeholder {
  color: #ccc;
  opacity: 1;
}
.modal89 .input-block:focus-within {
  border-color: #8c7569;
}
.modal89 .input-block:focus-within .input-label {
  color: rgba(140, 117, 105, 0.8);
}
.modal89 .thanksmsg {
  margin: 20px 0 0;
  font-size: 14px;
  text-align: start;
}


.modal89 .icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}


@media (max-width: 750px) {
  .modal89-container {
    width: 90%;
  }

  .modal89-right {
    display: none;
  }
}